In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time

In [2]:
driver=webdriver.Chrome(r"Downloads\chromedriver.exe")

C:\Users\91789\AppData\Local\Temp/ipykernel_7368/2285535377.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"Downloads\chromedriver.exe")

In [3]:
# Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location
driver.get('https://www.naukri.com/')

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [5]:
location= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Banglore")

In [6]:
search= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
experience_required=[]
company_name=[]

In [8]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags= driver.find_elements(By.XPATH,'//li [@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
experience_tags=driver.find_elements(By.XPATH,'//li  [@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [9]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'experience_required':experience_required,'company_name':company_name})
df

,job_title,job_location,experience_required,company_name
0,Business & Data Analyst- Assistant Manager,"Hyderabad/Secunderabad, Bangalore/Bengaluru",1-3 Yrs,State Street
1,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),3-6 Yrs,KrazyBee
2,Senior Data Analyst,Bangalore/Bengaluru,5-8 Yrs,Qualitest India Private Limited
3,Sr. Data Analyst,"Pune, Bangalore/Bengaluru",6-11 Yrs,Global Indian School Education Services
4,Sr Clinical Data Analyst,Bangalore/Bengaluru,2-5 Yrs,LabCorp
5,Master Data Management Business Analyst,Bangalore/Bengaluru,6-8 Yrs,Accenture
6,Intern Data Analyst,Bangalore/Bengaluru,0-1 Yrs,FullStackTechies
7,Data Analyst - Python/Artificial Intelligence,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",0-2 Yrs,iMindYourBusiness
8,Asst Clinical Data Analyst,Bangalore/Bengaluru,1-3 Yrs,LabCorp
9,Lead Data Analyst,Bangalore/Bengaluru,5-9 Yrs,McAfee

In [10]:
driver.get("https://www.naukri.com/")

In [11]:
# Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location
designation= driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys("Data Scientist")

In [12]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

In [14]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".qsbSubmit"}
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00F85FD3+2187219]
	Ordinal0 [0x00F1E6D1+1763025]
	Ordinal0 [0x00E33E78+802424]
	Ordinal0 [0x00E61C10+990224]
	Ordinal0 [0x00E61EAB+990891]
	Ordinal0 [0x00E8EC92+1174674]
	Ordinal0 [0x00E7CBD4+1100756]
	Ordinal0 [0x00E8CFC2+1167298]
	Ordinal0 [0x00E7C9A6+1100198]
	Ordinal0 [0x00E56F80+946048]
	Ordinal0 [0x00E57E76+949878]
	GetHandleVerifier [0x012290C2+2721218]
	GetHandleVerifier [0x0121AAF0+2662384]
	GetHandleVerifier [0x0101137A+526458]
	GetHandleVerifier [0x01010416+522518]
	Ordinal0 [0x00F24EAB+1789611]
	Ordinal0 [0x00F297A8+1808296]
	Ordinal0 [0x00F29895+1808533]
	Ordinal0 [0x00F326C1+1844929]
	BaseThreadInitThunk [0x753CFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77047A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77047A6E+238]

In [15]:
job_title=[]
job_location=[]
comapany_name=[]

In [16]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,'//a [@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [17]:
len(job_title)

10

In [18]:
len(job_location)

10

In [19]:
len(company_name)

20

In [20]:
df1=pd.DataFrame({"company_name":company_name})

In [21]:
df2=df1.iloc[0:10]

In [22]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location})

In [23]:
frames=[df,df2]

In [24]:
pd.concat(frames,axis=1,join='inner')

,job_title,job_location,company_name
0,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",State Street
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",KrazyBee
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Qualitest India Private Limited
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",Global Indian School Education Services
4,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",LabCorp
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Accenture
6,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",FullStackTechies
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",iMindYourBusiness
8,Data Scientist Python,"Bangalore/Bengaluru, Hyderabad/Secunderabad",LabCorp
9,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",McAfee

In [25]:
# Q3: In this question you have to scrape data using the filters available on the webpage as shown below
driver.get("https://www.naukri.com/")

In [26]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

select= driver.find_element(By.CLASS_NAME,"qsbSubmit")
select.click()

In [27]:
location_filter=driver.find_elements(By.XPATH,'//span [@class="ellipsis fleft"]')
location_filter[8].click()

salary_filter= driver.find_elements(By.XPATH,'//span [@class="ellipsis fleft"]')
salary_filter[11].click()

IndexError: list index out of range

In [28]:
job_title=[]
job_location=[]
company_name=[]
experienced_required=[]
salary_given=[]

In [29]:
title_tags=driver.find_elements(By.XPATH,'//a [@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'// li [@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
name_tags=driver.find_elements(By.XPATH,'// a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    name=i.text
    company_name.append(name)
    
experienced_tags= driver.find_elements(By.XPATH,'// li [@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experienced_tags[0:10]:
    experience=i.text
    experienced_required.append(experience)
    
salary_tags=driver.find_elements(By.XPATH,'// li [@class="fleft grey-text br2 placeHolderLi salary"]')
for i in salary_tags[0:10]:
    salary=i.text
    salary_given.append(i)

In [30]:
len(job_title)

10

In [31]:
len(job_location)

10

In [32]:
len(company_name)

10

In [33]:
len(experience_required)

10

In [34]:
len(salary_given)

10

In [35]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experienced_required': experienced_required,'salary':salary_given})

In [36]:
df

,job_title,job_location,company_name,experienced_required,salary
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs,<selenium.webdriver.remote.webelement.WebEleme...
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs,<selenium.webdriver.remote.webelement.WebEleme...
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs,<selenium.webdriver.remote.webelement.WebEleme...
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs,<selenium.webdriver.remote.webelement.WebEleme...
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs,<selenium.webdriver.remote.webelement.WebEleme...
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs,<selenium.webdriver.remote.webelement.WebEleme...
6,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs,<selenium.webdriver.remote.webelement.WebEleme...
7,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs,<selenium.webdriver.remote.webelement.WebEleme...
8,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs,<selenium.webdriver.remote.webelement.WebEleme...
9,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs,<selenium.webdriver.remote.webelement.WebEleme...

In [37]:
# Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
driver.get("https://www.flipkart.com/")

In [38]:
products=driver.find_element(By.CLASS_NAME,"_3704LK")
products.send_keys("sunglasses")

select= driver.find_element(By.CLASS_NAME,"L0Z3Pu")
select.click()

In [39]:
Brand=[]
Product_description=[]
Price=[]
offer=[]

In [40]:
start=0
end=3
for page in range (start,end):
    Brand_tags=driver.find_elements(By.XPATH,'// div [@class="_2WkVRV"]')
    for i in Brand_tags[0:100]:
        brand_value=i.text
        Brand.append(brand_value)
        
    product_tags= driver.find_elements(By.XPATH,'// a[@class="IRpwTa"]')
    for i in product_tags[0:100]:
        product=i.text
        Product_description.append(product)
        
    price_tags= driver.find_elements(By.XPATH,'// div [@class="_30jeq3"]')
    for i in price_tags[0:100]:
        price_value=i.text
        Price.append(price_value)
        
    offer_tags=driver.find_elements(By.XPATH,'// div [@class="_3Ay6Sb"]')
    for i in offer_tags[0:100]:
        offer_value= i.text
        offer.append(offer_value)   
        
    next_button =driver.find_element(By.XPATH,'//a [@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [41]:
len(Brand)

120

In [42]:
len(Product_description)

120

In [43]:
len(Price)

120

In [44]:
len(offer)

120

In [45]:
df=pd.DataFrame({"Brand":Brand,"Price":Price,"Offer":offer})

In [46]:
df

             Brand Price    Offer
0    VINCENT CHASE  ₹999  50% off
1    VINCENT CHASE  ₹949  52% off
2         Fastrack  ₹799  20% off
3         Fastrack  ₹639  20% off
4           PIRASO  ₹224  85% off
..             ...   ...      ...
115  VINCENT CHASE  ₹949  52% off
116      ROYAL SON  ₹664  66% off
117      Rich Club  ₹325  53% off
118  VINCENT CHASE  ₹749  62% off
119  VINCENT CHASE  ₹999  50% off

[120 rows x 3 columns]

In [47]:
df.iloc[0:100]

                Brand Price    Offer
0       VINCENT CHASE  ₹999  50% off
1       VINCENT CHASE  ₹949  52% off
2            Fastrack  ₹799  20% off
3            Fastrack  ₹639  20% off
4              PIRASO  ₹224  85% off
..                ...   ...      ...
95      VINCENT CHASE  ₹849  57% off
96  SHAAH COLLECTIONS  ₹195  88% off
97     ROZZETTA CRAFT  ₹499  75% off
98              NuVew  ₹198  73% off
99      VINCENT CHASE  ₹799  68% off

[100 rows x 3 columns]

In [48]:
df1=pd.DataFrame({"Product_description":Product_description})

In [49]:
df1.iloc[0:100]

                                  Product_description
0   by Lenskart Polarized, UV Protection Aviator S...
1   by Lenskart Polarized, UV Protection Aviator S...
2       UV Protection Wayfarer Sunglasses (Free Size)
3    UV Protection Rectangular Sunglasses (Free Size)
4               UV Protection Aviator Sunglasses (54)
..                                                ...
95  by Lenskart Polarized, UV Protection Cat-eye S...
96  UV Protection, Polarized, Mirrored Rectangular...
97  Polarized, Riding Glasses Sports, Wrap-around ...
98              UV Protection Aviator Sunglasses (57)
99  by Lenskart Polarized, UV Protection Cat-eye S...

[100 rows x 1 columns]

In [50]:
frames=[df,df1]

In [51]:
pd.concat(frames,axis=1,join='inner')

,Brand,Price,Offer,Product_description
0,VINCENT CHASE,₹999,50% off,"by Lenskart Polarized, UV Protection Aviator S..."
1,VINCENT CHASE,₹949,52% off,"by Lenskart Polarized, UV Protection Aviator S..."
2,Fastrack,₹799,20% off,UV Protection Wayfarer Sunglasses (Free Size)
3,Fastrack,₹639,20% off,UV Protection Rectangular Sunglasses (Free Size)
4,PIRASO,₹224,85% off,UV Protection Aviator Sunglasses (54)
...,...,...,...,...
115,VINCENT CHASE,₹949,52% off,"by Lenskart UV Protection, Polarized Aviator S..."
116,ROYAL SON,₹664,66% off,"UV Protection, Gradient Butterfly Sunglasses (62)"
117,Rich Club,₹325,53% off,UV Protection Retro Square Sunglasses (54)
118,VINCENT CHASE,₹749,62% off,"by Lenskart Polarized, UV Protection Rectangul..."
119,VINCENT CHASE,₹999,50% off,"Polarized, UV Protection Round Sunglasses (51)"

In [63]:
# Scrape 100 reviews data from flipkart.com for iphone11 phone.
driver.get("https://www.flipkart.com/apple-iphone-11-black-128-gb/p/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8HS0EXP&marketplace=FLIPKART&q=iphon")

In [53]:
products=driver.find_element(By.CLASS_NAME,'_3704LK')
products.send_keys('Apple iphone 11 (Black,128)')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [64]:
Rating=[]
Review_summary=[]
Full_review=[]

In [65]:
start=0
end=7
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags[0:100]:
        rating=i.text
        Rating.append(rating)
        
    review_tags=driver.find_elements(By.XPATH,'//p [@class="_2-N8zT"]')
    for i in review_tags[0:100]:
        review=i.text
        Review_summary.append(review)
        
    full_tags=driver.find_elements(By.XPATH,'//div [@class="t-ZTKy"]')
    for i in full_tags[0:100]:
        full=i.text
        Full_review.append(full)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@class="_1LKTO3"]"}
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00F85FD3+2187219]
	Ordinal0 [0x00F1E6D1+1763025]
	Ordinal0 [0x00E33E78+802424]
	Ordinal0 [0x00E61C10+990224]
	Ordinal0 [0x00E61EAB+990891]
	Ordinal0 [0x00E8EC92+1174674]
	Ordinal0 [0x00E7CBD4+1100756]
	Ordinal0 [0x00E8CFC2+1167298]
	Ordinal0 [0x00E7C9A6+1100198]
	Ordinal0 [0x00E56F80+946048]
	Ordinal0 [0x00E57E76+949878]
	GetHandleVerifier [0x012290C2+2721218]
	GetHandleVerifier [0x0121AAF0+2662384]
	GetHandleVerifier [0x0101137A+526458]
	GetHandleVerifier [0x01010416+522518]
	Ordinal0 [0x00F24EAB+1789611]
	Ordinal0 [0x00F297A8+1808296]
	Ordinal0 [0x00F29895+1808533]
	Ordinal0 [0x00F326C1+1844929]
	BaseThreadInitThunk [0x753CFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77047A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77047A6E+238]

In [66]:
len(Rating)

10

In [59]:
len(Review_summary)

10

In [60]:
len(Full_review)

10

In [61]:
df=pd.DataFrame({'Rating': Rating,"Review_summay":Review_summary,"Full_review":Full_review})

In [62]:
df

,Rating,Review_summay,Full_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,,,
4,,,
5,,,
6,,,
7,,,
8,,,
9,,,

In [67]:
#Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
driver.get("https://www.flipkart.com/")

In [68]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys("sneakers")

search_button= driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_button.click()

In [69]:
Brand=[]
Product_description=[]
Price=[]
Offer=[]

In [70]:
start=0
end=3
for page in range(start,end):
    brand_tags = driver.find_elements(By.XPATH,'//div [@class="_2WkVRV"]')
    for i in brand_tags:
        brand_name=i.text
        Brand.append(brand_name)
        
    product_tags=driver.find_elements(By.XPATH,'// a[@class="IRpwTa"]')
    for i in product_tags:
        product= i.text
        Product_description.append(product)
        
    price_tags= driver.find_elements(By.XPATH,'// div [@class="_30jeq3"]')
    for i in price_tags:
        price_value=i.text
        Price.append(price_value)
        
    offer_tags=driver.find_elements(By.XPATH,'// div [@class="_3Ay6Sb"]')
    for i in offer_tags:
        offer_value=i.text
        Offer.append(offer_value)
    
    next_button=driver.find_element(By.XPATH,'//a [@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [71]:
len(Brand)

120

In [72]:
len(Product_description)

100

In [73]:
len(Price)

120

In [74]:
len(Offer)

120

In [75]:
df1= pd.DataFrame({"Product_description":Product_description})

In [76]:
df2=df1.iloc[0:100]

In [77]:
df3= pd.DataFrame({"Offer":Offer})

In [78]:
df4=df3.iloc[0:100]

In [79]:
df=pd.DataFrame({"Brand":Brand,"Price":Price})

In [80]:
df5=df.iloc[0:100]

In [81]:
frame=[df5,df4,df2]

In [82]:
pd.concat(frame,axis=1, join='inner')

,Brand,Price,Offer,Product_description
0,Deals4you,₹499,66% off,Sneakers For Men
1,ELEVAR,"₹5,490",15% off,Mesh | Ultralightweight | Comfortable | Breath...
2,aadi,₹374,81% off,Puma Smash Wns v2 L Sneakers For Women
3,PUMA,"₹1,542",55% off,Glory Sneakers For Men
4,PUMA,"₹1,747",41% off,Super Stylish & Trendy Combo Pack of 02 Pairs ...
...,...,...,...,...
95,ELEVAR,"₹3,990",38% off,"Casuals, Canvas, Partywear Sneakers For Men"
96,Layasa,₹199,80% off,Casual Sneaker for Men Sneakers For Men
97,Deals4you,₹373,62% off,Sneakers For Men
98,Robbie jones,₹509,49% off,Puma Smash v2 Sneakers For Men
99,RESNAPSHOEZONE,₹499,60% off,Low Top Classic Casual Shoes Sneakers For Men

Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

In [83]:
driver.get("https://www.myntra.com/shoes")

In [84]:
price= driver.find_elements(By.XPATH,'// label[@class="common-customCheckbox vertical-filters-label"]')
price[8].click()

In [85]:
Color_filter=driver.find_elements(By.XPATH,'//label [@class="common-customCheckbox"]')
Color_filter[0].click()

In [86]:
Brand=[]
shoe_description=[]
Price=[]

In [91]:
start=0
end=6
for page in range(start,end):
    brand_tags= driver.find_elements(By.XPATH,'//h3 [@class="product-brand"]')
    for i in brand_tags:
        brand_value=i.text
        Brand.append(brand_value)
        
    shoe_tags= driver.find_elements(By.XPATH,'//h4 [@class="product-product"]')
    for i in shoe_tags:
        shoe=i.text
        shoe_description.append(shoe)
        
    price_tags= driver.find_elements(By.XPATH,'//div [@class="product-price"]')
    for i in price_tags:
        price= i.text
        Price.append(price)
    
    next_button= driver.find_element(By.XPATH,'// li [@class="pagination-next"]')
    next_button.click()

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00F85FD3+2187219]
	Ordinal0 [0x00F1E6D1+1763025]
	Ordinal0 [0x00E33E78+802424]
	Ordinal0 [0x00E36854+813140]
	Ordinal0 [0x00E36712+812818]
	Ordinal0 [0x00E369A0+813472]
	Ordinal0 [0x00E5D6EF+972527]
	Ordinal0 [0x00E7CB8C+1100684]
	Ordinal0 [0x00E58394+951188]
	Ordinal0 [0x00E7CDA4+1101220]
	Ordinal0 [0x00E8CFC2+1167298]
	Ordinal0 [0x00E7C9A6+1100198]
	Ordinal0 [0x00E56F80+946048]
	Ordinal0 [0x00E57E76+949878]
	GetHandleVerifier [0x012290C2+2721218]
	GetHandleVerifier [0x0121AAF0+2662384]
	GetHandleVerifier [0x0101137A+526458]
	GetHandleVerifier [0x01010416+522518]
	Ordinal0 [0x00F24EAB+1789611]
	Ordinal0 [0x00F297A8+1808296]
	Ordinal0 [0x00F29895+1808533]
	Ordinal0 [0x00F326C1+1844929]
	BaseThreadInitThunk [0x753CFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77047A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77047A6E+238]

In [92]:
len(Brand)

125

In [93]:
len(shoe_description)

100

In [94]:
len(Price)

100

In [95]:
df=pd.DataFrame({'Brand':Brand})
df1=df.iloc[0:100]

In [96]:
df2=pd.DataFrame({'shoe_description':shoe_description,'Price':Price})

In [97]:
frames=[df1,df2]

In [98]:
pd.concat(frames,axis=1, join='inner')

,Brand,shoe_description,Price
0,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7465Rs. 8295(10% OFF)
1,Skechers,Men Max Cushioning Running,Rs. 7199Rs. 8999(20% OFF)
2,Nike,Men React Infinity 3 Running,Rs. 11895Rs. 13995(15% OFF)
3,ADIDAS,Men Solar Glide 4 ST Running,Rs. 11999Rs. 14999(20% OFF)
4,Nike,Men SRG 3 FK Training Shoes,Rs. 8005Rs. 8895(10% OFF)
...,...,...,...
95,Skechers,Solid Formal Leather Derbys,Rs. 3199Rs. 7999(60% OFF)
96,Columbia,Women T-Strap Flats,Rs. 6999
97,Tommy Hilfiger,Women Textured Leather Loafers,Rs. 6643Rs. 9490(30% OFF)
98,Delize,Women REDMOND V2 TrekkingShoe,Rs. 7999
99,LOUIS STITCH,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999

In [99]:
# Go to webpage https://www.amazon.in/
# Enter “Laptop” in the search field and then click the search icon.
driver.get(" https://www.amazon.in/")

In [100]:
product= driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute'] ")
product.send_keys("laptop")

search_button= driver.find_element(By.XPATH,'// span [@class="nav-search-submit-text nav-sprite nav-progressive-attribute"]')
search_button.click()

In [101]:
cpu_filter= driver.find_elements(By.XPATH,'//span [@class="a-size-base a-color-base"]')
cpu_filter[46].click()

In [102]:
Titles=[]
Ratings=[]
Price=[]

In [107]:
title_tags=driver.find_elements(By.XPATH,'//h2 [@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    title=i.text
    Titles.append(title)
    
rating_tags=driver.find_elements(By.XPATH,'//span [@class="a-icon-alt"]')
for i in rating_tags[0:10]:
    rate_value= i.text
    Ratings.append(rate_value)
    
price_tags= driver.find_elements(By.XPATH,'// span [@class="a-price-whole"]')
for i in price_tags[0:100]:
    price= i.text
    Price.append(price)

In [108]:
len(Titles)

10

In [109]:
len(Ratings)

30

In [110]:
len(Price)

72

In [111]:
df=pd.DataFrame({'Titles':Titles})
df2=df.iloc[0:10]

In [112]:
df1= pd.DataFrame({'Rating':Ratings})
df3=df1.iloc[0:10]

In [113]:
df4= pd.DataFrame({'Price':Price})
df5=df4.iloc[0:10]

In [114]:
frames=[df2,df3,df5]

In [115]:
pd.concat(frames,axis=1, join='inner')

                                              Titles Rating   Price
0  Samsung Galaxy Book2 Intel 12th Gen core i7 39...         42,990
1  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...         41,990
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...         52,499
3  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...         70,990
4  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...         89,990
5  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...         82,990
6  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...         89,990
7  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...         72,990
8  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...         62,990
9  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...         59,990

In [121]:
# Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noidalocation. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
driver.get("https://www.ambitionbox.com/jobs")

In [123]:
designation= driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys("data scientist")

search_button=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_button.click()

In [124]:
location_filter= driver.find_elements(By.XPATH,'//div [@class="radio"]')
location_filter[12].click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00F85FD3+2187219]
	Ordinal0 [0x00F1E6D1+1763025]
	Ordinal0 [0x00E33D40+802112]
	Ordinal0 [0x00E62C03+994307]
	Ordinal0 [0x00E589B3+952755]
	Ordinal0 [0x00E7CB8C+1100684]
	Ordinal0 [0x00E58394+951188]
	Ordinal0 [0x00E7CDA4+1101220]
	Ordinal0 [0x00E8CFC2+1167298]
	Ordinal0 [0x00E7C9A6+1100198]
	Ordinal0 [0x00E56F80+946048]
	Ordinal0 [0x00E57E76+949878]
	GetHandleVerifier [0x012290C2+2721218]
	GetHandleVerifier [0x0121AAF0+2662384]
	GetHandleVerifier [0x0101137A+526458]
	GetHandleVerifier [0x01010416+522518]
	Ordinal0 [0x00F24EAB+1789611]
	Ordinal0 [0x00F297A8+1808296]
	Ordinal0 [0x00F29895+1808533]
	Ordinal0 [0x00F326C1+1844929]
	BaseThreadInitThunk [0x753CFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77047A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77047A6E+238]

In [125]:
title=[]
experience_req=[]
salary=[]

In [126]:
title_tags=driver.find_elements(By.XPATH,'// div [@class="company-info"]')
for i in title_tags:
    title_value=i.text
    title.append(title_value)
    
experience_tags= driver.find_elements(By.XPATH,'//p[@class="body-small-l"]')
for i in experience_tags:
    experience=i.text
    experience_req.append(experience)
    
salary_tags= driver.find_elements(By.XPATH,'//p[@class="body-small-l]"')
for i in salary_tags:
    salary_value=i.text
    salary.append(salary)

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression //p[@class="body-small-l]" because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string '//p[@class="body-small-l]"' is not a valid XPath expression.
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00F85FD3+2187219]
	Ordinal0 [0x00F1E6D1+1763025]
	Ordinal0 [0x00E33E78+802424]
	Ordinal0 [0x00E36854+813140]
	Ordinal0 [0x00E36712+812818]
	Ordinal0 [0x00E369A0+813472]
	Ordinal0 [0x00E61925+989477]
	Ordinal0 [0x00E61EAB+990891]
	Ordinal0 [0x00E8ECCC+1174732]
	Ordinal0 [0x00E7CBD4+1100756]
	Ordinal0 [0x00E8CFC2+1167298]
	Ordinal0 [0x00E7C9A6+1100198]
	Ordinal0 [0x00E56F80+946048]
	Ordinal0 [0x00E57E76+949878]
	GetHandleVerifier [0x012290C2+2721218]
	GetHandleVerifier [0x0121AAF0+2662384]
	GetHandleVerifier [0x0101137A+526458]
	GetHandleVerifier [0x01010416+522518]
	Ordinal0 [0x00F24EAB+1789611]
	Ordinal0 [0x00F297A8+1808296]
	Ordinal0 [0x00F29895+1808533]
	Ordinal0 [0x00F326C1+1844929]
	BaseThreadInitThunk [0x753CFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77047A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77047A6E+238]

In [127]:
len(title)

11

In [128]:
len(experience_req)

42

In [129]:
df=pd.DataFrame({"title": title})

In [130]:
df

                                                title
0   CBRE South Asia Pvt Ltd\n · \n4.3\nbased on 2....
1        CBRE South Asia Pvt Ltd\n4.3\n(2.3k Reviews)
2   GENPACT India Private Limited\n4.0\n(19.9k Rev...
3                       Genpact\n4.0\n(19.9k Reviews)
4   Ericsson India Global Services Pvt. Ltd.\n4.3\...
5   GENPACT India Private Limited\n4.0\n(19.9k Rev...
6   Optum Global Solutions (India) Private Limited...
7   Optum Global Solutions (India) Private Limited...
8   Ericsson India Global Services Pvt. Ltd.\n4.3\...
9     SOPRA STERIA INDIA LIMITED\n4.2\n(1.2k Reviews)
10  EXL Services.com ( I ) Pvt. Ltd.\n3.9\n(5.1k R...

In [131]:
df1= pd.DataFrame({"description":experience_req})

In [132]:
df1

                                          description
0                                           5-9 years
1                                         ₹ 10-20 LPA
2     Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida
3                                             5-9 Yrs
4                                         ₹ 10-20 LPA
5     Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida
6        python, data science, advanced excel +1 more
7                                            7-12 Yrs
8                                       Not Disclosed
9                                               Noida
10   Data Science, arima, predictive modeling +5 more
11                                           6-10 Yrs
12                                              Noida
13  Data Analytics, Data Scientist, Data Science +...
14                                           4-12 Yrs
15                                      Not Disclosed
16                                              Noida
17                       CRM, HTML, microsoft +7 more
18                                           6-10 Yrs
19                                      Not Disclosed
20                 Ghaziabad, Gurgaon/Gurugram, Noida
21  python, Artificial Intelligence, data scientis...
22                                           5-10 Yrs
23                                      Not Disclosed
24                                              Noida
25                  SAS, Power BI, Spark SQL +11 more
26                                           8-13 Yrs
27                                      Not Disclosed
28                                              Noida
29  Azure Synapse, Azure Data Factory, Synapse +8 ...
30                                           8-12 Yrs
31                                      Not Disclosed
32                                              Noida
33                       CRM, HTML, microsoft +7 more
34                                            4-5 Yrs
35                                      Not Disclosed
36                Chennai, Bengaluru/Bangalore, Noida
37                      python, machine learning, sql
38                                           5-10 Yrs
39                                      Not Disclosed
40                         Bengaluru/Bangalore, Noida
41       nlp, Artificial Intelligence, Django +3 more

In [133]:
driver.get("https://www.ambitionbox.com/salaries")

In [134]:
designation = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input")
designation.send_keys("data scientist")

search= driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div/div/button/span')
search.click()

In [135]:
lead=driver.find_elements(By.XPATH,'// div[@class="gs-title"]')
lead[1].click()

In [136]:
company=[]
average_salary=[]
min_salary=[]
max_salary=[]
experience_req=[]

In [147]:
company_tags= driver.find_elements(By.XPATH,'//div [@class="name"]')
for i in company_tags:
    company_name= i.text
    company.append(company_name)
    
average_tags= driver.find_elements(By.XPATH,'// div [@class="average-indicator-wrapper"]')
for i in average_tags:
    average= i.text
    average_tags.append(average)
    
min_salary_tags= driver.find_elements(By.XPATH,'// div [@class="salary-range-wrapper"]')
for i in min_salary_tags:
    min_sal=i.text
    min_salary.append(min_salary)
    
max_salary_tags=driver.find_elements(By.XPATH,'// div [@class="value body-medium"]')
for i in max_salary_tags:
    max_sal= i.text
    max_salary.append(max_sal)
    
experience_tags= driver.find_elements(By.XPATH,'// div [@class="sbold-list-header"]')
for i in experience_tags:
    experience=i.text
    experience_req.append(experience)

In [148]:
len(company)

0

In [149]:
len(average_salary)

0

In [150]:
len(min_salary)

0